.form{
    border: 3px solid white;
    width: 50%;
    height: 80%;
    color: aliceblue;
    margin: auto;
    margin-top: 5%;
    border-radius: 20px;
    padding: 5%;
}
.text{
    font-size: 180%;
}
.inputtext{
    height: 30px;
    width: 50%;
    margin-top: 2%;
    border: 2px solid white;
    color: aliceblue;
    font-size: 100%;
    padding: 5px;
    
}

.btn:hover{
    background-color: rgb(39, 37, 35);
    cursor: pointer;
}

@media screen and (max-width: 600px) {

    .inputtext{
        height: 30px;
        width: 15rem;
        margin-top: 2%;
        border: 2px solid white;
        color: aliceblue;
        font-size: 100%;
        padding: 5px;
    }
}
